<h3>Mis categorías</h3>
<br>
<br>
<button type="button" class="btn btn-success">Agregar</button>
<br>
<br>
<table class="table .table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estatus</th>
        <th scope="col">Fecha creación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias; index as i; first as isFirst">
        <td>{{i + 1}}</td>
        <td>{{ categoria.nombre_categoria }}</td>
        <td>{{ categoria.estatus | checarestatus }}</td>
        <td>{{ categoria.fecha_alta | date:'dd/MM/yyyy' }}</td>
        <td><a href=""><i class="fa-solid fa-pen-to-square"></i></a> &nbsp;&nbsp; <a href=""><i class="fa-solid fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>