<nav class="navbar navbar-expand-lg" >
    <div class="container">
      <a class="navbar-brand"  [routerLink]="['/dashboard']" style="color: white;">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']" style="color: white;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/products']" style="color: white;">Productos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
              Catálogos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/dashboard/catalogs/proveedores']">Proveedores</a></li>
              <li><a class="dropdown-item" [routerLink]="['/dashboard/catalogs/categories']">Categorías</a></li>
              <li><a class="dropdown-item" [routerLink]="['/dashboard/catalogs/envases']">Envases</a></li>
              <li><a class="dropdown-item" [routerLink]="['/dashboard/catalogs/unidades-medida']">Unidades Medida</a></li>
              <li><a class="dropdown-item" [routerLink]="['/dashboard/catalogs/presentaciones-producto']">Presentaciones Producto</a></li>
              
              <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <app-user-detail  [currentUser]="currentUser$ | async"></app-user-detail>
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" (click)="logout()" style="color: white; cursor: pointer;">Cerrar Sesión</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>