<h3>{{tituloProductoInterface}}</h3>
<br>
<section *ngIf="!activarFormularioProducto">
    <button type="button" class="btn btn-success" (click)="mostrarFormularioProducto()">
        Agregar producto
    </button>
    <br>
    <br>
    <!-- <table class="table .table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre producto</th>
                <th scope="col">Envase</th>
                <th scope="col">Presentacion</th>
                <th scope="col">contenido neto</th>
                <th scope="col">Unidad de medida</th>
                <th scope="col">Categoria</th>
                <th scope="col">Codigo producto</th>
                <th scope="col">Estatus</th>
                <th scope="col">Fecha Alta</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos; index as i; first as isFirst">
                <td>{{i + 1}}</td>
                <td>{{ producto.nombre_producto | titlecase}}</td>
                <td>{{ obtenerNombreEnvase(producto.fk_envase!) | titlecase }}</td>
                <td>{{ obtenerNombrePresentacion(producto.fk_presentacion!)  | titlecase}}</td>
                <td>{{ producto.contenido_neto }}</td>
                <td>{{ obtenerUnidadMedidaCompleto(producto.fk_unidad_medida!) | titlecase }}</td>
                <td>{{ obtenerNombreCategoria(producto.fk_categoria!) | titlecase }}</td>
                <td>{{ producto.codigo_producto }}</td>
                <td>{{ producto.estatus}}</td>
                <td>{{ producto.fecha_alta | date:'dd/MM/yyyy' }}</td>
                <td>
                    <a (click)="obtenerDetalleProducto(producto.id_producto)" class="edit-button"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    &nbsp;&nbsp;
                    <a (click)="eliminaProducto(producto.id_producto)" class="delete-button"><i
                            class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table> -->

    <div class="row row-cols-1 row-cols-md-3 g-4" >
      <div class="col" *ngFor="let producto of productos;">
        <div class="card h-100" >
          <img [src]="producto.url_imagen" class="card-img-top" alt="..." width="10px" height="10px">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre_producto | titlecase }} {{ obtenerNombrePresentacion(producto.fk_presentacion!) | titlecase }}</h5>
            <p class="card-text">{{ obtenerNombreEnvase(producto.fk_envase!) | titlecase }} {{ producto.contenido_neto }} {{ obtenerUnidadMedidaCompleto(producto.fk_unidad_medida!) | titlecase }}</p>
            <p class="card-text">Codigo de Producto: {{ producto.codigo_producto }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Categoria: {{ obtenerNombreCategoria(producto.fk_categoria!) | titlecase }}</small> <br>
            <small class="text-muted">Fecha de alta: {{ producto.fecha_alta | date:'dd/MM/yyyy' }}</small> <br>
            <small class="text-muted">Estatus: {{ producto.estatus }}</small>
            <hr>
            <a (click)="obtenerDetalleProducto(producto.id_producto)" class="edit-button"><i class="fa-solid fa-pen-to-square"></i></a>
            &nbsp;&nbsp;
            <a (click)="eliminaProducto(producto.id_producto)" class="delete-button"><i class="fa-solid fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
    
</section>

<ng-container *ngIf="activarFormularioProducto">
    <form class="row g-3" [formGroup]="productoFormulario" (ngSubmit)="crearActualizarProducto()">
        <div class="col-md-6">
          <label for="nombre_producto" class="form-label">Nombre Producto</label>
          <input type="text" name="nombre_producto" formControlName="nombre_producto" autocomplete="off"
            class="form-control" id="nombre_producto" placeholder="Ej. Coca cola">
        </div>
      
        <div class="col-md-6">
          <label for="codigo_producto" class="form-label">Código de producto</label>
          <input type="text" name="codigo_producto" formControlName="codigo_producto" autocomplete="off"
            class="form-control" id="codigo_producto" placeholder="Ej. coca0001">
        </div>
      
        <div class="col-md-6">
          <label for="url_imagen" class="form-label">Url imagen</label>
          <input type="text" name="url_imagen" formControlName="url_imagen" autocomplete="off" class="form-control"
            id="url_imagen" placeholder="Ej. imagenes/coca.png">
        </div>
      
        <div class="col-md-6">
          <label for="contenido_neto" class="form-label">Contenido neto</label>
          <input type="text" name="contenido_neto" formControlName="contenido_neto" autocomplete="off"
            class="form-control" id="contenido_neto" placeholder="Ej. 600">
        </div>
      
        <div class="col-md-6">
          <label for="fk_categoria" class="form-label">Categoría</label>
          <select formControlName="fk_categoria" class="form-select">
            <option [ngValue]="null" disabled selected>Elige una categoría</option>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria.id_categoria">
              {{ categoria.nombre_categoria }}
            </option>
          </select>
        </div>
      
        <div class="col-md-6">
          <label for="fk_envase" class="form-label">Envase</label>
          <select formControlName="fk_envase" class="form-select">
            <option [ngValue]="null" disabled selected>Elige un envase</option>
            <option *ngFor="let envase of envases" [ngValue]="envase.id_envase">
              {{ envase.nombre_envase }}
            </option>
          </select>
        </div>
      
        <div class="col-md-6">
          <label for="fk_unidad_medida" class="form-label">Unidad de medida</label>
          <select formControlName="fk_unidad_medida" class="form-select">
            <option [ngValue]="null" disabled selected>Elige una opción</option>
            <option *ngFor="let unidad of unidadesMedida" [ngValue]="unidad.id_unidad">
              {{ unidad.nombre_unidad }}
            </option>
          </select>
        </div>
      
        <div class="col-md-6">
          <label for="fk_presentacion" class="form-label">Presentación</label>
          <select formControlName="fk_presentacion" class="form-select">
            <option [ngValue]="null" disabled selected>Elige una opción</option>
            <option *ngFor="let presentacion of presentaciones" [ngValue]="presentacion.id_presentacion">
              {{ presentacion.nombre_presentacion }}
            </option>
          </select>
        </div>
      
        <div class="col-12 text-center">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="ocultarFormularioProducto()">Cancelar</button>
            &nbsp;
            &nbsp;
            <button type="submit" class="btn btn-primary">{{botonAcciones}}</button>
          </div>
        </div>
      </form>
      
      
    <p *ngIf="productoFormulario.value.nombre_producto">Se guardara el siguiente producto: <span class="etiqueta">
        {{productoFormulario.value.nombre_producto | lowercase }}
        {{obtenerNombreEnvase(productoFormulario.value.fk_envase!) | lowercase}}     
        {{obtenerNombrePresentacion(productoFormulario.value.fk_presentacion!) | lowercase}}
        <span *ngIf="productoFormulario.value.fk_unidad_medida"> de
         {{productoFormulario.value.contenido_neto}}{{obtenerUnidadMedida(productoFormulario.value.fk_unidad_medida!) | lowercase}}</span>
        </span></p>
</ng-container>