<!-- Search form -->
<input class="form-control" type="text" placeholder="Bucar producto" aria-label="Search">
<br>
<div class="row-cols-1">

    <select class="form-select" aria-label="Default select example">
        <option selected>Filtrar por categoria</option>
        <option value="1">Bebidas</option>
        <option value="2">Frituras</option>
        <option value="3">Dulces</option>
      </select>
</div>
<br>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://i5.walmartimages.com.mx/gr/images/product-images/img_large/00000007500761L2.jpg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Coca Cola Pet Clásica <br> 600ml</h5>
          <hr>
          <table class="table table-sm text-center">
            <tbody style="border: 0; border-bottom:1px solid #ffff">
              <tr>
                <td><strong>Femsa</strong></td>
                <td>$15.67</td>
              </tr>
              <tr>
                <td>Walmart</td>
                <td>$15.40</td>
              </tr>
              <tr>
                <td>Sam's club</td>
                <td>$15.39</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i5.walmartimages.com.mx/gr/images/product-images/img_large/00000007500761L2.jpg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i5.walmartimages.com.mx/gr/images/product-images/img_large/00000007500761L2.jpg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i5.walmartimages.com.mx/gr/images/product-images/img_large/00000007500761L2.jpg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>