<h3>{{tituloProductoInterface}}</h3>
<br>
<section *ngIf="!activarFormularioProducto">
    <button type="button" class="btn btn-success" (click)="mostrarFormularioProducto()">
        Agregar producto
    </button>
    <br>
    <br>
    <table class="table .table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre producto</th>
                <th scope="col">Codigo producto</th>
                <th scope="col">contenido neto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Envase</th>
                <th scope="col">Unidad de medida</th>
                <th scope="col">Presentacion</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos; index as i; first as isFirst">
                <td>{{i + 1}}</td>
                <td>{{ producto.nombre_producto }}</td>
                <td>{{ producto.codigo_producto }}</td>
                <td>{{ producto.url_imagen }}</td>
                <td>{{ producto.contenido_neto }}</td>
                <td>{{ producto.fk_categoria }}</td>
                <td>{{ producto.fk_envase }}</td>
                <td>{{ producto.fk_unidad_medida }}</td>
                <td>{{ producto.fk_presentacion }}</td>
                <td>{{ producto.estatus }}</td>
                <td>{{ producto.fecha_alta | date:'dd/MM/yyyy' }}</td>
                <td>
                    <a (click)="obtenerDetalleProducto(producto.id_producto)" class="edit-button"><i class="fa-solid fa-pen-to-square"></i></a>
                    &nbsp;&nbsp;
                    <a (click)="eliminaProducto(producto.id_producto)" class="delete-button"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

 <ng-container *ngIf="activarFormularioProducto">
    <form [formGroup]="productoFormulario" (ngSubmit)="crearActualizarProducto()">
        <div class="mb-3">
            <label for="nombre_producto" class="form-label">Nombre Producto</label>
            <input type="text" name="nombre_producto" formControlName="nombre_producto" autocomplete="off"
                class="form-control" id="nombre_producto" placeholder="Ejemplo: Coca cola">
            <div class="alert alert-danger mt-2" [hidden]="productoFormulario.valid || productoFormulario.pristine">
                Este campo es obligatorio
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="ocultarFormularioProducto()">Cancelar</button>
            &nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="productoFormulario.invalid">{{botonAcciones}}</button>
        </div>
    </form>
</ng-container> 