  <div>
    <h3>Ingresar al sistema</h3>
    <hr>
    <br>
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <label for="email"> Correo electrónico * </label>
      <input type="text" name="email" formControlName="correo_electronico" autocomplete="off" placeholder="micorreo@gmail.com" required/>
      <div class="alert alert-danger mt-2" [hidden]="formLogin.valid || formLogin.pristine">
        Este campo es obligatorio
    </div>
      <label for="password">Contraseña * </label>
      <input type="password" name="password" formControlName="contrasena" placeholder="*********" required/>
      <div class="alert alert-danger mt-2" [hidden]="formLogin.valid || formLogin.pristine">
        Este campo es obligatorio
    </div>
      <button type="submit" [disabled]="formLogin.invalid">
        Iniciar Sesión
      </button>
    </form>
    <hr>
    <br>
    <label>¿Aún no estas registrado?, crea tu cuenta <a [routerLink]="['/auth/register']"> aquí</a></label>
    <br>
    <label><a [routerLink]="['/']" style="text-decoration: none;">Volver a la pagina principal</a></label>
  </div>