<h3>{{titleEnvasesInterface}}</h3>
<br>
<section *ngIf="!activarFormularioEnvase">
    <button type="button" class="btn btn-success" (click)="mostrarFormularioEnvase()">
        Agregar nuevo envase
    </button>
    <br>
    <br>
    <table class="table .table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estatus</th>
                <th scope="col">Fecha creación</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let envase of envases; index as i; first as isFirst">
                <td>{{i + 1}}</td>
                <td>{{ envase.nombre_envase }}</td>
                <td>{{ envase.estatus | checarestatus }}</td>
                <td>{{ envase.fecha_alta | date:'dd/MM/yyyy' }}</td>
                <td>
                    <a (click)="obtenerDetalleEnvase(envase.id_envase)" style="cursor: pointer;"><i class="fa-solid fa-pen-to-square"></i></a>
                    &nbsp;&nbsp;
                    <a><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<ng-container *ngIf="activarFormularioEnvase">
    <form [formGroup]="envaseFormulario" (ngSubmit)="crearActualizarEnvase()">
        <div class="mb-3">
            <label for="nombreEnvase" class="form-label">Nombre envase</label>
            <input type="text" name="nombreEnvase" formControlName="nombre_envase" autocomplete="off"
                class="form-control" id="nombreEnvase" required>
            <div class="alert alert-danger mt-2" [hidden]="envaseFormulario.valid || envaseFormulario.pristine">
                Este campo es obligatorio
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="ocultarFormularioEnvase()">Cancelar</button>
            &nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="envaseFormulario.invalid">{{valorBoton}}</button>
        </div>
    </form>
</ng-container>