<h3>{{tituloInterface}}</h3>
<br>
<section *ngIf="!activarFormularioPrecioProveedor">
    <button type="button" class="btn btn-success" (click)="mostrarFormularioPrecioProducto()">
        Agregar Precio
    </button>
    <br>
    <br>
    <table class="table .table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Unidad Compre</th>
                <th scope="col">Piezas por unidad</th>
                <th scope="col">Costo unidad</th>
                <th scope="col">Costo pza</th>
                <th scope="col">Fecha de actualización</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let precio of preciosProductos; index as i; first as isFirst">
                <td>{{i + 1}}</td>
                <td>{{ precio.producto!.nombre_producto}}</td>
                <td>{{ precio.proveedor!.nombre_proveedor }}</td>
                <td>{{ precio.unidadesCompra!.nombre_unidad_compra}}</td>
                <td>{{ precio.piezas_unidad_compra}}</td>
                <td>{{ precio.costo_unidad_compra | currency:'USD':'symbol'}}</td>
                <td>{{ precio.costo_pieza | currency:'USD':'symbol'}}</td>
                <td>{{ precio.fecha_ultima_actualizacion | date:'dd/MM/yyyy'}}</td>
                <td>
                    <a (click)="obtenerDetalleProducto(precio.id_rel_precio_producto)" class="edit-button"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    &nbsp;&nbsp;
                    <a (click)="eliminaPrecioProducto(precio.id_rel_precio_producto)" class="delete-button"><i
                            class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    
</section>

<ng-container *ngIf="activarFormularioPrecioProveedor">
    <form class="row g-3" [formGroup]="precioProveedorFormulario" (ngSubmit)="crearActualizarPrecioProducto()">
      <div class="col-md-6">
        <label for="fk_producto" class="form-label">Producto</label>
        <select formControlName="fk_producto" class="form-select">
          <option [ngValue]="null" disabled selected>Elige un producto</option>
          <option *ngFor="let producto of productos" [ngValue]="producto.id_producto">
            {{ producto.nombre_producto }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="fk_proveedor" class="form-label">Proveedor</label>
        <select formControlName="fk_proveedor" class="form-select">
          <option [ngValue]="null" disabled selected>Elige el proveedor</option>
          <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.id_proveedor">
            {{ proveedor.nombre_proveedor }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="fk_unidad_compra" class="form-label">Unidad de compra</label>
        <select formControlName="fk_unidad_compra" class="form-select">
          <option [ngValue]="null" disabled selected>Elige la unidad de compra</option>
          <option *ngFor="let unidades of unidadesCompra" [ngValue]="unidades.id_unidad_compra">
            {{ unidades.nombre_unidad_compra }}
          </option>
        </select>
      </div>
      
        <div class="col-md-6">
          <label for="piezas_unidad_compra" class="form-label">piezas unidad compra</label>
          <input type="text" name="piezas_unidad_compra" formControlName="piezas_unidad_compra" autocomplete="off"
            class="form-control" id="piezas_unidad_compra" placeholder="Ej. 24">
        </div>
      
        <div class="col-md-6">
          <label for="costo_unidad_compra" class="form-label">costo unidad compra</label>
          <input type="text" name="costo_unidad_compra" formControlName="costo_unidad_compra" autocomplete="off" class="form-control"
            id="costo_unidad_compra" placeholder="Ej. 380">
        </div>
      
        <div class="col-md-6">
          <label for="costo_pieza" class="form-label">costo pieza</label>
          <input type="text" name="costo_pieza" formControlName="costo_pieza" autocomplete="off"
            class="form-control" id="costo_pieza" placeholder="Ej. 15.6">
        </div>
      
        <div class="col-md-6">
          <label for="fecha_ultima_actualizacion" class="form-label">Fecha actualización</label>
          <input type="date" name="fecha_ultima_actualizacion" formControlName="fecha_ultima_actualizacion" autocomplete="off"
            class="form-control" id="fecha_ultima_actualizacion" >
        </div>
      
        
      
        <div class="col-12 text-center">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="ocultarFormularioPrecioProducto()">Cancelar</button>
            &nbsp;
            &nbsp;
            <button type="submit" class="btn btn-primary">{{valorBoton}}</button>
          </div>
        </div>
      </form>

      
      
    <!-- <p *ngIf="productoFormulario.value.nombre_producto">Se guardara el siguiente precio: <span class="etiqueta">
        {{productoFormulario.value.nombre_producto | lowercase }}
        {{obtenerNombreEnvase(productoFormulario.value.fk_envase!) | lowercase}}     
        {{obtenerNombrePresentacion(productoFormulario.value.fk_presentacion!) | lowercase}}
        <span *ngIf="productoFormulario.value.fk_unidad_medida"> de
         {{productoFormulario.value.contenido_neto}}{{obtenerUnidadMedida(productoFormulario.value.fk_unidad_medida!) | lowercase}}</span>
        </span></p> -->
</ng-container> 