<p class="d-inline-flex gap-1">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Agregar precio
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="col-md-6">
        <label for="nombre_producto" class="form-label">Nombre Producto</label>
        <input type="text" name="nombre_producto" formControlName="nombre_producto" autocomplete="off"
          class="form-control" id="nombre_producto" placeholder="Ej. Coca cola">
      </div>
  </div>